/Test/
/.devcontainer/
/mathworks/__pycache__/
/installfile/installterminal/bin/getpath.c
/installfile/installterminal/bin/clipboard.c
/installfile/installterminal/__pycache__
/getpath.cpython-39-x86_64-linux-gnu.so
/build/